* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h2 {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 18px;
	background-color: #f3f3f3;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
	border: none;
	background: transparent;
}

.App {
	max-width: 1180px;
	margin: 0 auto;
	padding: 20px 10px;
	color: #232323;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.filter {
	padding: 10px 15px;
	border: 1px solid #232323;
	transition: all 0.3s linear;
	cursor: pointer;
	border-radius: 32px 24px;
	margin-left: 20px;

	display: flex;
	align-items: center;
}

.filter svg {
	margin-left: 5px;
}

.filter:hover {
	background-color: #dadada;
}

.wrapper {
	padding: 50px 0 0;
}

.title {
	font-size: 28px;
	margin-bottom: 40px;
}

svg {
	width: 1.5em;
	height: 1.5em;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 30px;
}

.card__item {
	border: 1px solid #232323;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow: hidden;
	position: relative;
	border-radius: 32px 24px;
	background-color: #fff;
}

.card__like {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 50%;
	transition: all 0.3s linear;
}

.card__like:hover {
	background-color: #f3f3f3;
}

.card__del {
	position: absolute;
	top: 10px;
	left: 15px;
	cursor: pointer;
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 50%;
	transition: all 0.3s linear;
}

.card__del:hover {
	background-color: #f3f3f3;
}

.card__item-image {
	height: 250px;
	border-bottom: 1px solid #232323;
	text-align: center;
	flex-shrink: 0;
}

.card__item-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card__item-content {
	padding: 15px 18px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.card__item-title {
	font-size: 18px;
	font-weight: 600;
}

.card__item-description {
	font-size: 14px;
	font-weight: 300;
	margin-top: 10px;
	color: rgba(0, 0, 0, 0.45);
	flex-grow: 1;
}

.card__item-price {
	font-size: 18px;
	font-weight: 400;
	margin-top: 20px;
}

.card__item-price span {
	font-size: 22px;
	font-weight: 700;


}
